.stage{
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
  
}
.stage.stageColor{
  background: var(--main-color);
}

.ball{
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: rgb(160, 15, 160);
  z-index: 997;
  
}